html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.wrap{
    width: 1000px;
    margin: auto;
}
h2{
  text-align: center;
  font-size: 30px;  
  margin: 20px;
}
table{
    width: 1000px;
    height: 250px;
    font-size: 25px;
}
th,td{
    border-top: 2px solid blue;
    border-bottom: 2px solid blue;
    width: 150px;
    height: 50px;
    text-align: center;
    line-height: 50px;
}
th{
    color: purple
}
td{
    color: rgb(47, 161, 255);
}
.form{
    width: 800px;
    margin: auto;
}
.content h3{
    width: 200px;
    float: left;
    font-size: 30px; 
    text-align: right;
}
input[type="text"]{
    width: 500px;
    height:30px;
    text-align: center;
}
input[type="radio"]{
    width: 25px;
    height: 25px;
}
label{
    width: 25px;
    height: 25px;
    font-size: 25px;
}
input[type="checkbox"]{
    width: 25px;
    height: 25px;
}
textarea{
    width: 500px;
    height:100px;
}
.main{
    height:58px;
}